@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  overflow-x: hidden;
  font-family: "Saira Semi Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-wrapper {
  flex: 1;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b20000;
}

::-moz-selection {
  color: #b20000;
  background-color: transparent;
}
::selection {
  color: #b20000;
  background-color: transparent;
}
.button {
  width: auto;
  height: auto;
  padding: 0 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid #fff;
  border-width: 2px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Saira Semi Condensed", sans-serif;
  transition: 0.5s ease-in-out;
  z-index: 99;
}
.button:hover {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 0 5px #b20000;
}
.button p {
  margin: 5px;
}
.swiper-button-next, .swiper-button-prev{
  background-color: #b20000
}
@media screen and (max-width: 375px) {
}
